.certificados-lista {
  list-style: none;
  padding: 0;
  margin: 0;
}

.certificado-card {
  background: var(--card-bg);
  padding: 0.2rem;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 12px;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  transition: 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.certificado-card:hover {
  border-color: var(--primary-green);
  transform: translateX(5px);
}

.certificado-info {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.certificado-nome {
  margin: 0;
  font-weight: 600;
  color: var(--primary-green);
}

.certificado-org {
  margin: 0;
  font-size: 0.9rem;
  color: #94a3b8;
}

.certificado-data {
  text-align: right;
  font-size: 0.85rem;
  color: #94a3b8;
}

#anos {
  color: white;
  font-weight: 500;
}
